$color1: #ffc32c;
$color2: #31353f;
$color3: #b2b2b2;
$color4: #e6e6e6;
$color5: #bcbcbc;
$color6: #10182f;
$color7: #d8d8d8;
$color8: #707070;
$color9: #f7f7f7;
$color10: #242e4c40;
$color11: #0eb280;
$color12: #484848;
$color13: #8f9198;
$color14: #d5e3d6;
$color15: #fff8e4;
$color16: #fff0ca;
$color17: #f2f2f2;
$color18: #5b5e66;
$color19: #eeeeee;
$color20: rgba(255, 195, 44, 0.4);
$color21: #fffbef;
$color22: #f5f5f5;
$color23: #01c58d;
$color24: #effffa;
$color25: rgba(255, 195, 44, 0.12);
$color26: #fafbfc;
$color27: #edfbf6;
$color28: #ff3100;
$color29: #fff0ed;
$color30: #e6e7e8;
$color31: #e8e8e8;
$color32: #f8f9fa;
$color33: #007dff;
$color34: #edf6ff;
$color35: #fabc20;
$color36: rgba(178, 178, 178, 0.25);
$color37: rgba(198, 198, 198, 0.7);
