$color1: #ffc32c;
$color2: #31353f;
$color3: #b2b2b2;
$color4: #e6e6e6;
$color5: #bcbcbc;
$color6: #10182f;
$color7: #d8d8d8;
$color8: #707070;
$color9: #f7f7f7;
$color10: #242e4c40;
$color11: #0eb280;
$color12: #484848;
$color13: #8f9198;
$color14: #d5e3d6;
$color15: #fff8e4;
$color16: #fff0ca;
$color17: #f2f2f2;
$color18: #5b5e66;
$color19: #eeeeee;
$color20: rgba(255, 195, 44, 0.4);
$color21: #fffbef;
