@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap");
@import "./_constants.scss";

:root {
  --section-padding: 4rem;
}

@media screen and (max-width: 1495px) {
  :root {
    --section-padding: 2rem;
  }
}

@media screen and (max-width: 575px) {
  :root {
    --section-padding: 0.5rem;
  }
}

* {
  font-family: "Source Sans Pro", sans-serif;
  margin: 0;
  padding: 0;
  color: $color2;
  box-sizing: border-box;
}

::selection {
  background-color: $color1;
}

body {
  padding-top: 160px;

  @media screen and (max-width: 1495px) {
    padding-top: 110px;
  }
}

button,
a {
  text-decoration: none;
  cursor: pointer;
  background-color: transparent;
  border: 0;
}

.table-container {
  overflow: scroll;
  //   width: 100vw;
}

table {
  border-collapse: collapse;
  font-size: 20px;
  border-radius: 7px;
  // min-width: 720px;

  @media screen and(max-width: 991px) {
    font-size: 18px;
  }

  tr {
    &:nth-child(odd) {
      background-color: $color9;
    }

    &:last-child {
      td {
        border-bottom: 1px solid #b2b2b269 !important;
      }
    }

    &:first-child {
      background-color: transparent;
    }

    td {
      border-top: none !important;
      border-bottom: none !important;
    }

    th,
    td {
      padding: 0.75rem 2rem;
      border: 1px solid #b2b2b269;

      @media screen and (max-width: 1140px) {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
      }

      @media screen and (max-width: 991px) {
        padding-left: 2rem;
        padding-right: 2rem;
      }

      @media screen and (max-width: 767px) {
        padding-left: 1rem;
        padding-right: 1rem;
      }
    }
  }
}

h1 {
  font-size: 44px;

  @media screen and (max-width: 991px) {
    font-size: 30px;
  }
}

h2 {
  font-size: 32px;

  @media screen and (max-width: 991px) {
    font-size: 24px;
  }
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 16px;
}

p {
  font-size: 20px;
  line-height: 40px;
  word-spacing: 3.5px;

  @media screen and(max-width: 991px) {
    font-size: 18px;
    line-height: 32px;
  }
}

.page-container {
  display: flex;
  justify-content: center;
  margin-left: auto;
  max-width: 1500px;
  padding-left: var(--section-padding) !important;
  padding-right: var(--section-padding) !important;

  @media screen and (max-width: 1435px) {
    max-width: unset;
  }

  .main {
    max-width: 1106px;
    margin-left: auto;
    margin-right: auto;
  }

  aside {
    flex-grow: 1;
    max-width: 266px;

    @media screen and (max-width: 1435px) {
      flex-shrink: 0;
      width: 266px;
    }

    @media screen and (max-width: 991px) {
      display: none;
    }
  }
}

#navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--section-padding);
  z-index: 5;
  @media screen and (max-width: 575px) {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

#financial-planning {
  .main {
    @media screen and (min-width: 992px) {
      padding-right: 1.5rem;
    }
  }

  .account-info {
    margin: 2.5rem 0 1.5rem;
  }
}

.chart-container {
  padding: 3rem;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (max-width: 575px) {
    padding: 1rem;
  }
}

#stockbroker-shutdown {
  .row {
    @media screen and (max-width: 575px) {
      & > * {
        padding: 0;
      }
    }
  }

  .card {
    border-radius: 10px;
    padding: 2rem;
    background-color: $color1;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: 1280px) {
      padding-left: 1rem;
      padding-right: 1rem;
    }

    @media screen and (max-width: 991px) {
      height: 120px;
    }

    h2 {
      font-weight: bold;
      text-transform: uppercase;

      @media screen and (max-width: 1182px) {
        font-size: 28px;
      }

      @media screen and (max-width: 1096px) {
        font-size: 24px;
      }

      @media screen and (max-width: 1011px) {
        font-size: 22px;
      }

      @media screen and (max-width: 991px) {
        font-size: 24px;
      }

      @media screen and (max-width: 745px) {
        font-size: 22px;
      }

      @media screen and (max-width: 702px) {
        font-size: 20px;
      }

      @media screen and (max-width: 660px) {
        font-size: 18px;
      }

      @media screen and (max-width: 616px) {
        font-size: 16px;
      }

      @media screen and (max-width: 575px) {
        font-size: 24px;
      }
    }

    img,
    svg {
      width: 100%;
    }

    &.light {
      @media screen and (min-width: 576px) {
        background-color: $color17;

        h2 {
          font-weight: 500;
          color: $color3;
        }
      }

      @media screen and (max-width: 575px) {
        svg path {
          fill: $color2 !important;
        }
      }
    }
  }

  ul {
    list-style-image: url("../vector/tick.svg");
    padding: 0 1.5rem;

    li {
      padding: 0.75rem 0;
      padding-left: 1rem;
      font-size: 24px;

      @media screen and (max-width: 991px) {
        font-size: 20px;
      }
    }
  }
}

#reviews {
  .review-btns {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    button {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 2rem;

      .count {
        font-size: 14px;
        margin-left: 0.5rem;
      }
    }
  }

  .comments {
    textarea.comment {
      width: 100%;
      padding: 0.75rem 1.5rem;
      border-radius: 10px;
      border-color: $color5;

      &::placeholder {
        color: $color5;
      }
    }

    .comments-main {
      .comment {
        margin-bottom: 2rem;

        .comment-text {
          p {
            padding-left: 56px;
            font-size: 16px;
            line-height: 30px;
          }
        }
      }
    }
  }
}

#navigate {
  margin-top: 8rem;

  @media screen and (max-width: 991px) {
    margin-top: 0;
  }

  .main {
    border-top: 1px solid $color5;
    flex-grow: 1;
    padding-top: 1rem;

    @media screen and (max-width: 991px) {
      padding-top: 2rem;
    }
  }

  .nav-btns {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media screen and (max-width: 575px) {
      flex-direction: column;

      button {
        width: 100%;
        margin-bottom: 1.5rem;
      }
    }
  }
}
