@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap");
@import "./_constants.scss";

* {
  font-family: "Source Sans Pro", sans-serif;
  margin: 0;
  padding: 0;
  color: $color2;
  box-sizing: border-box;
}

body {
  padding-top: 160px;
}

button,
a {
  text-decoration: none;
  cursor: pointer;
  background-color: transparent;
  border: 0;
}

table {
  width: 100%;
  border-collapse: collapse;
  font-size: 20px;
  border-radius: 7px;
  overflow: hidden;

  tr {
    &:nth-child(odd) {
      background-color: $color9;
    }

    &:last-child {
      td {
        border-bottom: 1px solid #b2b2b269 !important;
      }
    }

    &:first-child {
      background-color: transparent;
    }

    td {
      border-top: none !important;
      border-bottom: none !important;
    }

    th,
    td {
      padding: 0.75rem 2rem;
      border: 1px solid #b2b2b269;
    }
  }
}

h1 {
  font-size: 44px;
}

h2 {
  font-size: 32px;
}

p {
  font-size: 20px;
  line-height: 40px;
  word-spacing: -1.06px;
}

.page-container {
  max-width: 1106px;
  margin-left: auto;
  margin-right: auto;
}

#navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4rem 6rem;
}

// #financial-planning {
// }

#stockbroker-shutdown {
  .card {
    border-radius: 10px;
    padding: 2rem;
    background-color: $color1;
    height: 200px;

    display: flex;
    justify-content: center;
    align-items: center;

    h2 {
      font-weight: bold;
      text-transform: uppercase;
    }

    img {
      width: 100%;
    }

    &.light {
      background-color: $color17;

      h2 {
        font-weight: 500;
        color: $color3;
      }
    }
  }

  ul {
    list-style-image: url("../vector/tick.svg");
    padding: 0 2.5rem;

    li {
      padding: 0.75rem 0;
      padding-left: 1rem;
      font-size: 24px;
    }
  }
}

#reviews {
  .review-btns {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    button {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 2rem;

      .count {
        font-size: 14px;
        margin-left: 0.5rem;
      }
    }
  }

  .comments {
    textarea.comment {
      width: 100%;
      padding: 0.75rem 1.5rem;
      border-radius: 10px;
      border-color: $color5;

      &::placeholder {
        color: $color5;
      }
    }

    .comments-main {
      .comment {
        margin-bottom: 2rem;

        .comment-text {
          p {
            padding-left: 56px;
            font-size: 16px;
          }
        }
      }
    }
  }
}

#navigate {
  border-top: 1px solid $color5;
  margin-top: 8rem;

  .nav-btns {
    display: flex;
    justify-content: space-between;
    align-items: center;

    & > * {
      border-radius: 7px;
      border: 1px solid $color2;
      padding: 0.5rem 1rem;
    }
  }
}
