@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap");
:root {
  --section-padding: 4rem;
}

@media screen and (max-width: 1495px) {
  :root {
    --section-padding: 2rem;
  }
}

@media screen and (max-width: 575px) {
  :root {
    --section-padding: 1rem;
  }
}

* {
  font-family: "Source Sans Pro", sans-serif;
  margin: 0;
  padding: 0;
  color: #31353f;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

::-moz-selection {
  background-color: #ffc32c;
}

::selection {
  background-color: #ffc32c;
}

body {
  padding-top: 110px;
}

button,
a {
  text-decoration: none;
  cursor: pointer;
  background-color: transparent;
  border: 0;
}

table {
  width: 100%;
  border-collapse: collapse;
  font-size: 20px;
  border-radius: 7px;
}

@media screen and (max-width: 991px) {
  table {
    font-size: 18px;
  }
}

table tr:nth-child(odd) {
  background-color: #f7f7f7;
}

table tr:last-child td {
  border-bottom: 1px solid #b2b2b269 !important;
}

table tr:first-child {
  background-color: transparent;
}

table tr td {
  border-top: none !important;
  border-bottom: none !important;
}

table tr th,
table tr td {
  padding: 0.75rem 2rem;
  border: 1px solid #b2b2b269;
}

@media screen and (max-width: 1120px) {
  table tr th,
  table tr td {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}

@media screen and (max-width: 991px) {
  table tr th,
  table tr td {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media screen and (max-width: 767px) {
  table tr th,
  table tr td {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

h1 {
  font-size: 44px;
}

@media screen and (max-width: 991px) {
  h1 {
    font-size: 30px;
  }
}

h2 {
  font-size: 32px;
}

@media screen and (max-width: 991px) {
  h2 {
    font-size: 24px;
  }
}

h3 {
  font-size: 24px;
}

p {
  font-size: 20px;
  line-height: 40px;
  word-spacing: -1.06px;
}

@media screen and (max-width: 991px) {
  p {
    font-size: 18px;
  }
}

@media screen and (max-width: 767px) {
  p {
    line-height: 32px;
  }
}

.page-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: auto;
  max-width: 1500px;
  padding-left: var(--section-padding) !important;
  padding-right: var(--section-padding) !important;
}

@media screen and (max-width: 1435px) {
  .page-container {
    max-width: unset;
  }
}

.page-container .main {
  max-width: 1106px;
  margin-left: auto;
  margin-right: auto;
}

.page-container aside {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding-left: 1.5rem;
  max-width: 266px;
}

@media screen and (max-width: 1435px) {
  .page-container aside {
    -ms-flex-negative: 0;
        flex-shrink: 0;
    width: 266px;
  }
}

@media screen and (max-width: 991px) {
  .page-container aside {
    display: none;
  }
}

#navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: var(--section-padding);
  z-index: 5;
}

@media screen and (max-width: 575px) {
  #navbar {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

#financial-planning aside .tags .tags-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0.875rem;
}

#financial-planning aside .tags .tags-group > * {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

#financial-planning aside .tags .tags-group > *:first-child {
  margin-right: 0.25rem;
}

#financial-planning aside .tags .tags-group > *:last-child {
  margin-left: 0.25rem;
}

#financial-planning aside .posts .post {
  border: 0px solid #bcbcbc;
  border-top-width: 1px;
  padding: 0.75rem 0;
}

#financial-planning aside .posts .post:last-child {
  border-bottom-width: 1px;
}

#financial-planning aside .posts .post .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#financial-planning aside .posts .post .info .date {
  font-size: 12px;
}

#financial-planning aside .posts .post .info .time {
  font-size: 14px;
  color: #bcbcbc;
}

@media screen and (max-width: 575px) {
  #stockbroker-shutdown .row > * {
    padding: 0;
  }
}

#stockbroker-shutdown .card {
  border-radius: 10px;
  padding: 2rem;
  background-color: #ffc32c;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1280px) {
  #stockbroker-shutdown .card {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

@media screen and (max-width: 991px) {
  #stockbroker-shutdown .card {
    height: 120px;
  }
}

#stockbroker-shutdown .card h2 {
  font-weight: bold;
  text-transform: uppercase;
}

@media screen and (max-width: 1182px) {
  #stockbroker-shutdown .card h2 {
    font-size: 28px;
  }
}

@media screen and (max-width: 1096px) {
  #stockbroker-shutdown .card h2 {
    font-size: 24px;
  }
}

@media screen and (max-width: 1011px) {
  #stockbroker-shutdown .card h2 {
    font-size: 22px;
  }
}

@media screen and (max-width: 991px) {
  #stockbroker-shutdown .card h2 {
    font-size: 24px;
  }
}

@media screen and (max-width: 745px) {
  #stockbroker-shutdown .card h2 {
    font-size: 22px;
  }
}

@media screen and (max-width: 702px) {
  #stockbroker-shutdown .card h2 {
    font-size: 20px;
  }
}

@media screen and (max-width: 660px) {
  #stockbroker-shutdown .card h2 {
    font-size: 18px;
  }
}

@media screen and (max-width: 616px) {
  #stockbroker-shutdown .card h2 {
    font-size: 16px;
  }
}

@media screen and (max-width: 575px) {
  #stockbroker-shutdown .card h2 {
    font-size: 24px;
  }
}

#stockbroker-shutdown .card img {
  width: 100%;
}

#stockbroker-shutdown .card.light {
  background-color: #f2f2f2;
}

#stockbroker-shutdown .card.light h2 {
  font-weight: 500;
  color: #b2b2b2;
}

#stockbroker-shutdown ul {
  list-style-image: url("../vector/tick.svg");
  padding: 0 1.5rem;
}

#stockbroker-shutdown ul li {
  padding: 0.75rem 0;
  padding-left: 1rem;
  font-size: 24px;
}

@media screen and (max-width: 991px) {
  #stockbroker-shutdown ul li {
    font-size: 20px;
  }
}

#reviews .review-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#reviews .review-btns button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 2rem;
}

#reviews .review-btns button .count {
  font-size: 14px;
  margin-left: 0.5rem;
}

#reviews .comments textarea.comment {
  width: 100%;
  padding: 0.75rem 1.5rem;
  border-radius: 10px;
  border-color: #bcbcbc;
}

#reviews .comments textarea.comment::-webkit-input-placeholder {
  color: #bcbcbc;
}

#reviews .comments textarea.comment:-ms-input-placeholder {
  color: #bcbcbc;
}

#reviews .comments textarea.comment::-ms-input-placeholder {
  color: #bcbcbc;
}

#reviews .comments textarea.comment::placeholder {
  color: #bcbcbc;
}

#reviews .comments .comments-main .comment {
  margin-bottom: 2rem;
}

#reviews .comments .comments-main .comment .comment-text p {
  padding-left: 56px;
  font-size: 16px;
}

#navigate {
  margin-top: 8rem;
}

@media screen and (max-width: 991px) {
  #navigate {
    margin-top: 0;
  }
}

#navigate .main {
  border-top: 1px solid #bcbcbc;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding-top: 1rem;
}

@media screen and (max-width: 991px) {
  #navigate .main {
    padding-top: 2rem;
  }
}

#navigate .nav-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=styles.css.map */