@import "./_constants.scss";

hr {
  border-top: 1px solid $color5;
}

.btn-outlined {
  border-radius: 7px;
  border: 1px solid $color2;
  padding: 0.5rem 1rem;
}

.text-light {
  color: $color5;
}

.badge {
  background-color: $color1;
  padding: 0.125rem 0.75rem;
  border-radius: 7px;
}

.explore {
  .tags {
    .tags-group {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 1rem;

      button {
        border-color: $color5;
        color: $color5;
        transition: 0.4s ease;

        &:hover {
          border-color: $color2;
          color: $color2;
        }

        @media screen and (max-width: 742px) {
          font-size: 10px;
        }

        @media screen and (max-width: 639px) {
          font-size: 8px;
        }

        @media screen and (max-width: 575px) {
          font-size: 14px;
        }

        @media screen and (max-width: 381px) {
          font-size: 12px;
        }

        @media screen and (max-width: 351px) {
          font-size: 11px;
        }
      }

      & > * {
        flex-grow: 1;

        &:first-child {
          margin-right: 0.25rem;
        }

        &:last-child {
          margin-left: 0.25rem;
        }
      }
    }
  }

  .posts {
    .post {
      border: 0px solid $color5;
      border-top-width: 1px;
      padding: 1rem 0 1.325rem;

      &:last-child {
        border-bottom-width: 1px;
      }

      .info {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .date {
          font-size: 12px;
        }

        .time {
          font-size: 14px;
          color: $color5;
        }
      }
    }
  }

  &.bottom {
    button {
      @media screen and (max-width: 680px) {
        font-size: 10px;
      }

      @media screen and (max-width: 680px) {
        font-size: 14px;
      }
    }

    .posts {
      .post {
        padding: 1.25rem 0;
      }
    }
  }
}

.account-info {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media screen and (max-width: 575px) {
    flex-direction: column;
    align-items: flex-start;
  }

  .general {
    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: 575px) {
      width: 100%;
      justify-content: flex-start;
    }

    img.avatar {
      margin-right: 1rem;
    }

    .name {
      font-size: 16px;
    }

    small {
      margin-left: 0.5rem;
      font-size: 14px;
      color: $color5;
      font-weight: 500;
    }

    img.bookmark {
      margin-left: 2rem;

      @media screen and (max-width: 991px) {
        margin-left: 8.5vw;
      }

      @media screen and (max-width: 575px) {
        margin-left: auto;
      }
    }
  }

  .social {
    @media screen and (max-width: 575px) {
      margin-top: 1.5rem;
    }

    a {
      margin-right: 0.75rem;
    }
  }
}

.timeline-wrapper {
  position: relative;
  height: 445px;
  margin: 6rem 0;
  overflow-x: auto;

  &::-webkit-scrollbar {
    height: 0px;
  }
  // &::-webkit-scrollbar-track {
  //   background: #f1f1f1;
  // }

  // /* Handle */
  // &::-webkit-scrollbar-thumb {
  //   background: #888;
  // }

  // /* Handle on hover */
  // &::-webkit-scrollbar-thumb:hover {
  //   background: #555;
  // }

  @media screen and (max-width: 767px) {
    margin: 3rem 0;
  }

  .timeline-main,
  .middle-line {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    .slide {
      position: absolute;
      top: -25px;
      right: 125px;
      color: $color3;

      @media screen and (max-width: 767px) {
        display: none;
      }
    }
  }

  .middle-line {
    left: 0;
    width: 100%;
    height: 2px;
    background-color: $color4;

    @media screen and (max-width: 1850px) {
      left: 0;
      transform: translate(0, -50%);
      width: 1838px;
    }

    @media screen and (max-width: 1100px) {
      width: 1482px;
    }
  }

  .timeline-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1365px;
    margin-left: auto;
    margin-right: auto;
    left: 50%;
    transform: translate(-50%, -50%);

    @media screen and (max-width: 1850px) {
      width: 890px;
      left: 0;
      transform: translate(0, -50%);
      margin-left: 29rem;
    }

    @media screen and (max-width: 1100px) {
      margin-left: 18rem;
    }

    .item {
      position: relative;

      .circle {
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: $color4;
      }

      .content {
        position: absolute;
        left: 50%;
        bottom: 60px;
        width: 374px;
        height: 161px;
        padding: 1rem;
        transform: translateX(-50%);
        background-color: #fff;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        display: flex;
        justify-content: center;
        align-items: center;

        .arrow {
          width: 50px;
          height: 25px;
          position: absolute;
          top: 100%;
          left: 50%;
          transform: translateX(-50%);
          overflow: hidden;

          &::after {
            content: "";
            position: absolute;
            width: 20px;
            height: 20px;
            background: white;
            transform: translateX(-50%) translateY(-50%) rotate(45deg);
            top: 0;
            left: 50%;
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
          }
        }

        .text {
          p {
            line-height: 30px;
            font-weight: 600;
          }
        }
      }

      &:nth-child(even) {
        .content {
          bottom: unset;
          top: 60px;
        }

        .arrow {
          top: unset;
          bottom: 100%;
          transform: translateX(-50%) rotate(180deg);

          &::after {
            top: unset;
            bottom: 4px;
            transform: translateX(-50%) translateY(-50%) rotate(225deg);
          }
        }
      }
    }
  }
}

@media screen and (min-width: 576px) {
  .progress-header {
    position: fixed;
    top: 0;
    z-index: 6;
    width: 100%;
    background-color: #f1f1f1;

    .progress-container {
      width: 100%;
      height: 4px;
      background: #ccc;

      .progress-bar {
        height: 4px;
        background: $color1;
        width: 0%;
      }
    }
  }
}
