hr {
  border-top: 1px solid #bcbcbc;
}

.btn-outlined {
  border-radius: 7px;
  border: 1px solid #31353f;
  padding: 0.5rem 1rem;
}

.text-light {
  color: #bcbcbc;
}

.badge {
  background-color: #ffc32c;
  padding: 0.125rem 0.75rem;
  border-radius: 7px;
}

.explore .tags .tags-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1rem;
}

.explore .tags .tags-group button {
  border-color: #bcbcbc;
  color: #bcbcbc;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

.explore .tags .tags-group button:hover {
  border-color: #31353f;
  color: #31353f;
}

@media screen and (max-width: 742px) {
  .explore .tags .tags-group button {
    font-size: 10px;
  }
}

@media screen and (max-width: 639px) {
  .explore .tags .tags-group button {
    font-size: 8px;
  }
}

@media screen and (max-width: 575px) {
  .explore .tags .tags-group button {
    font-size: 14px;
  }
}

@media screen and (max-width: 381px) {
  .explore .tags .tags-group button {
    font-size: 12px;
  }
}

@media screen and (max-width: 351px) {
  .explore .tags .tags-group button {
    font-size: 11px;
  }
}

.explore .tags .tags-group > * {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.explore .tags .tags-group > *:first-child {
  margin-right: 0.25rem;
}

.explore .tags .tags-group > *:last-child {
  margin-left: 0.25rem;
}

.explore .posts .post {
  border: 0px solid #bcbcbc;
  border-top-width: 1px;
  padding: 0.575rem 0;
}

.explore .posts .post:last-child {
  border-bottom-width: 1px;
}

.explore .posts .post .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.explore .posts .post .info .date {
  font-size: 12px;
}

.explore .posts .post .info .time {
  font-size: 14px;
  color: #bcbcbc;
}

@media screen and (max-width: 680px) {
  .explore.bottom button {
    font-size: 10px;
  }
}

@media screen and (max-width: 680px) {
  .explore.bottom button {
    font-size: 14px;
  }
}

.explore.bottom .posts .post {
  padding: 1.25rem 0;
}

.account-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 575px) {
  .account-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.account-info .general {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 575px) {
  .account-info .general {
    width: 100%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.account-info .general img.avatar {
  margin-right: 1rem;
}

.account-info .general .name {
  font-size: 16px;
}

.account-info .general small {
  margin-left: 0.5rem;
  font-size: 14px;
  color: #bcbcbc;
  font-weight: 500;
}

.account-info .general img.bookmark {
  margin-left: 2rem;
}

@media screen and (max-width: 991px) {
  .account-info .general img.bookmark {
    margin-left: 8.5vw;
  }
}

@media screen and (max-width: 575px) {
  .account-info .general img.bookmark {
    margin-left: auto;
  }
}

@media screen and (max-width: 575px) {
  .account-info .social {
    margin-top: 1.5rem;
  }
}

.account-info .social a {
  margin-right: 0.75rem;
}

.timeline-wrapper {
  position: relative;
  height: 445px;
  margin: 6rem 0;
  overflow-x: auto;
  /* Handle */
  /* Handle on hover */
}

.timeline-wrapper::-webkit-scrollbar {
  height: 2px;
}

.timeline-wrapper::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.timeline-wrapper::-webkit-scrollbar-thumb {
  background: #888;
}

.timeline-wrapper::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@media screen and (max-width: 767px) {
  .timeline-wrapper {
    margin: 3rem 0;
  }
}

.timeline-wrapper .timeline-main,
.timeline-wrapper .middle-line {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.timeline-wrapper .middle-line {
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #b2b2b2;
}

@media screen and (max-width: 1366px) {
  .timeline-wrapper .middle-line {
    left: 0;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
    width: 1363px;
  }
}

.timeline-wrapper .timeline-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 998px;
  margin-left: auto;
  margin-right: auto;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media screen and (max-width: 1366px) {
  .timeline-wrapper .timeline-main {
    left: 0;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
    margin-left: 11.5rem;
  }
}

.timeline-wrapper .timeline-main .item {
  position: relative;
}

.timeline-wrapper .timeline-main .item .circle {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #b2b2b2;
}

.timeline-wrapper .timeline-main .item .arrow {
  position: absolute;
  bottom: 32px;
  z-index: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.timeline-wrapper .timeline-main .item .content {
  position: absolute;
  left: 50%;
  bottom: 60px;
  width: 374px;
  height: 161px;
  padding: 1rem;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
          box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.timeline-wrapper .timeline-main .item .content .text p {
  line-height: 30px;
}

.timeline-wrapper .timeline-main .item:nth-child(even) .content {
  bottom: unset;
  top: 60px;
}

.timeline-wrapper .timeline-main .item:nth-child(even) .arrow {
  top: 32px;
  bottom: unset;
  -webkit-transform: translateX(-50%) rotate(180deg);
          transform: translateX(-50%) rotate(180deg);
}
/*# sourceMappingURL=utilities.css.map */