#dark-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  z-index: 6;
  background-color: #5b5e66;
}

hr {
  border-top: 1px solid #bcbcbc;
}

.btn-outlined {
  border-radius: 7px;
  border: 1px solid #31353f;
  padding: 0.5rem 1rem;
}

.text-light {
  color: #bcbcbc;
}

.text-light-2 {
  font-weight: 500;
  color: #b2b2b2;
}

.badge {
  background-color: #ffc32c;
  padding: 0.125rem 0.75rem;
  border-radius: 7px;
}

.explore .tags .tags-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1rem;
}

.explore .tags .tags-group button {
  border-color: #bcbcbc;
  color: #bcbcbc;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

.explore .tags .tags-group button:hover {
  border-color: #31353f;
  color: #31353f;
}

@media screen and (max-width: 742px) {
  .explore .tags .tags-group button {
    font-size: 10px;
  }
}

@media screen and (max-width: 639px) {
  .explore .tags .tags-group button {
    font-size: 8px;
  }
}

@media screen and (max-width: 575px) {
  .explore .tags .tags-group button {
    font-size: 14px;
  }
}

@media screen and (max-width: 381px) {
  .explore .tags .tags-group button {
    font-size: 12px;
  }
}

@media screen and (max-width: 351px) {
  .explore .tags .tags-group button {
    font-size: 11px;
  }
}

.explore .tags .tags-group > * {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.explore .tags .tags-group > *:first-child {
  margin-right: 0.25rem;
}

.explore .tags .tags-group > *:last-child {
  margin-left: 0.25rem;
}

.explore .posts .post {
  border: 0px solid #bcbcbc;
  border-top-width: 1px;
  padding: 1rem 0 1.325rem;
}

.explore .posts .post:last-child {
  border-bottom-width: 1px;
}

.explore .posts .post .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.explore .posts .post .info .date {
  font-size: 12px;
}

.explore .posts .post .info .time {
  font-size: 14px;
  color: #bcbcbc;
}

@media screen and (max-width: 680px) {
  .explore.bottom button {
    font-size: 10px;
  }
}

@media screen and (max-width: 680px) {
  .explore.bottom button {
    font-size: 14px;
  }
}

.explore.bottom .posts .post {
  padding: 1.25rem 0;
}

.account-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 575px) {
  .account-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.account-info .general {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 575px) {
  .account-info .general {
    width: 100%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.account-info .general img.avatar {
  margin-right: 1rem;
}

.account-info .general .name {
  font-size: 16px;
}

.account-info .general small {
  margin-left: 0.5rem;
  font-size: 14px;
  color: #bcbcbc;
  font-weight: 500;
}

.account-info .general img.bookmark {
  margin-left: 2rem;
}

@media screen and (max-width: 991px) {
  .account-info .general img.bookmark {
    margin-left: 8.5vw;
  }
}

@media screen and (max-width: 575px) {
  .account-info .general img.bookmark {
    margin-left: auto;
  }
}

@media screen and (max-width: 575px) {
  .account-info .social {
    margin-top: 1.5rem;
  }
}

.account-info .social a {
  margin-right: 0.75rem;
}

.timeline-wrapper {
  position: relative;
  height: 445px;
  margin: 6rem 0;
  overflow-x: auto;
}

.timeline-wrapper::-webkit-scrollbar {
  height: 0px;
}

@media screen and (max-width: 767px) {
  .timeline-wrapper {
    margin: 3rem 0;
  }
}

.timeline-wrapper .timeline-main,
.timeline-wrapper .middle-line {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.timeline-wrapper .timeline-main .slide,
.timeline-wrapper .middle-line .slide {
  position: absolute;
  top: -25px;
  right: 125px;
  color: #b2b2b2;
}

@media screen and (max-width: 767px) {
  .timeline-wrapper .timeline-main .slide,
  .timeline-wrapper .middle-line .slide {
    display: none;
  }
}

.timeline-wrapper .middle-line {
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #e6e6e6;
}

@media screen and (max-width: 1850px) {
  .timeline-wrapper .middle-line {
    left: 0;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
    width: 1838px;
  }
}

@media screen and (max-width: 1100px) {
  .timeline-wrapper .middle-line {
    width: 1482px;
  }
}

.timeline-wrapper .timeline-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1365px;
  margin-left: auto;
  margin-right: auto;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media screen and (max-width: 1850px) {
  .timeline-wrapper .timeline-main {
    width: 890px;
    left: 0;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
    margin-left: 29rem;
  }
}

@media screen and (max-width: 1100px) {
  .timeline-wrapper .timeline-main {
    margin-left: 18rem;
  }
}

.timeline-wrapper .timeline-main .item {
  position: relative;
}

.timeline-wrapper .timeline-main .item .circle {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #e6e6e6;
}

.timeline-wrapper .timeline-main .item .content {
  position: absolute;
  left: 50%;
  bottom: 60px;
  width: 374px;
  height: 161px;
  padding: 1rem;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #fff;
  -webkit-box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
          box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.timeline-wrapper .timeline-main .item .content .arrow {
  width: 50px;
  height: 25px;
  position: absolute;
  top: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  overflow: hidden;
}

.timeline-wrapper .timeline-main .item .content .arrow::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background: white;
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
          transform: translateX(-50%) translateY(-50%) rotate(45deg);
  top: 0;
  left: 50%;
  -webkit-box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
          box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.timeline-wrapper .timeline-main .item .content .text p {
  line-height: 30px;
  font-weight: 600;
}

.timeline-wrapper .timeline-main .item:nth-child(even) .content {
  bottom: unset;
  top: 60px;
}

.timeline-wrapper .timeline-main .item:nth-child(even) .arrow {
  top: unset;
  bottom: 100%;
  -webkit-transform: translateX(-50%) rotate(180deg);
          transform: translateX(-50%) rotate(180deg);
}

.timeline-wrapper .timeline-main .item:nth-child(even) .arrow::after {
  top: unset;
  bottom: 4px;
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(225deg);
          transform: translateX(-50%) translateY(-50%) rotate(225deg);
}

@media screen and (min-width: 576px) {
  .progress-header {
    position: fixed;
    top: 0;
    z-index: 6;
    width: 100%;
    background-color: #f1f1f1;
  }
  .progress-header .progress-container {
    width: 100%;
    height: 4px;
    background: #ccc;
  }
  .progress-header .progress-container .progress-bar {
    height: 4px;
    background: #ffc32c;
    width: 0%;
  }
}

.modal {
  position: fixed;
  z-index: 7;
  background-color: #fff;
  border-radius: 10px;
  padding: 2rem 1.5rem;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media screen and (max-width: 768px) {
  .modal {
    top: unset;
    -webkit-transform: unset;
            transform: unset;
    bottom: 0;
    left: 0;
    width: 100vw !important;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}

@media screen and (max-width: 575px) {
  .modal {
    height: 100%;
  }
}

.modal .close {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
}

.modal .modal-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 560px;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 0.75rem;
  border-bottom: 1px solid #eeeeee;
}

@media screen and (max-width: 575px) {
  .modal .modal-head {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.modal .modal-head .img {
  margin-right: 1rem;
}

.modal .modal-head .img img {
  width: 56px;
}

@media screen and (max-width: 575px) {
  .modal .modal-head .img img {
    width: 32px;
  }
}

.modal .modal-head .title {
  font-size: 20px;
  font-weight: 600;
}

@media screen and (max-width: 575px) {
  .modal .modal-head .title {
    font-size: 18px;
  }
}

.modal .modal-head small {
  color: #b2b2b2;
  font-size: 16px;
}

.modal.small-width {
  width: 660px;
}

.slidecontainer {
  width: 100%;
  position: relative;
}

.slidecontainer::before, .slidecontainer::after {
  content: "";
  top: 50%;
  position: absolute;
  height: 10px;
  width: 1px;
  background-color: #b2b2b2;
}

.slidecontainer .slider {
  -webkit-appearance: none;
  width: 100%;
  height: 1px;
  border-radius: 5px;
  background: #b2b2b2;
  outline: none;
  opacity: 1;
  -webkit-transition: 0.2s;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.slidecontainer .slider:hover {
  opacity: 1;
}

.slidecontainer .slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 23px;
  height: 24px;
  border: 0;
  background: url("../vector/slider-img.svg");
  cursor: pointer;
}

.slidecontainer .slider::-moz-range-thumb {
  width: 23px;
  height: 24px;
  border: 0;
  background: url("../vector/slider-img.svg");
  cursor: pointer;
}

.btn {
  padding: 0.65rem 3rem;
  font-size: 14px;
}

.btn-outlined-dark {
  border: 2px solid #31353f;
  border-radius: 50px;
}

.btn-bg-primary {
  background-color: #ffc32c;
  border-radius: 50px;
}
/*# sourceMappingURL=utilities.css.map */