@import "./_constants.scss";

@media (min-width: 769px) {
  .d-769-none {
    display: none !important;
  }
}

@media (max-width: 768px) {
  .d-768-none {
    display: none !important;
  }
}

main {
  overflow: hidden;
}

h1 {
  font-size: 44px;

  @media screen and (max-width: 991px) {
    font-size: 30px;
  }
}

h2 {
  font-size: 32px;

  @media screen and (max-width: 991px) {
    &:not(.resist-size) {
      font-size: 24px;
    }
  }
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 16px;
}

h5 {
  font-size: 14px;
}

p {
  font-size: 20px;
  line-height: 40px;
  word-spacing: 3.5px;

  @media screen and(max-width: 991px) {
    font-size: 18px;
    line-height: 32px;
  }
}

.ws-1 {
  word-spacing: 1px;
}

.fs-52 {
  font-size: 52px !important;
}

.fs-48 {
  font-size: 48px !important;
}

.fs-24 {
  font-size: 24px !important;
}

.fs-20 {
  font-size: 20px !important;
}

.fs-18 {
  font-size: 18px !important;
}

.fs-17 {
  font-size: 17px !important;
}

.fs-16 {
  font-size: 16px !important;
}

.fs-14 {
  font-size: 14px !important;
}

.fs-12 {
  font-size: 12px !important;
}

.fs-1366-40 {
  @media screen and (max-width: 1366px) {
    font-size: 40px !important;
  }
}

.fs-1366-24 {
  @media screen and (max-width: 1366px) {
    font-size: 24px !important;
  }
}

.fs-1366-18 {
  @media screen and (max-width: 1366px) {
    font-size: 18px !important;
  }
}

.fs-1366-16 {
  @media screen and (max-width: 1366px) {
    font-size: 16px !important;
  }
}

.fs-1366-14 {
  @media screen and (max-width: 1366px) {
    font-size: 14px !important;
  }
}

.fs-1366-12 {
  @media screen and (max-width: 1366px) {
    font-size: 12px !important;
  }
}

.fs-1366-10 {
  @media screen and (max-width: 1366px) {
    font-size: 10px !important;
  }
}

.fs-991-20 {
  @media screen and (max-width: 991px) {
    font-size: 20px !important;
  }
}

.fs-991-14 {
  @media screen and (max-width: 991px) {
    font-size: 14px !important;
  }
}

.fs-991-12 {
  @media screen and (max-width: 991px) {
    font-size: 14px !important;
  }
}

.fs-768-16 {
  @media screen and (max-width: 768px) {
    font-size: 16px !important;
  }
}

.fs-768-14 {
  @media screen and (max-width: 768px) {
    font-size: 14px !important;
  }
}

.fs-768-12 {
  @media screen and (max-width: 768px) {
    font-size: 12px !important;
  }
}

.fs-650-14 {
  @media screen and (max-width: 650px) {
    font-size: 14px !important;
  }
}

.fs-650-32 {
  @media screen and (max-width: 650px) {
    font-size: 32px !important;
  }
}

.fs-575-28 {
  @media screen and (max-width: 575px) {
    font-size: 28px !important;
  }
}

.fs-575-20 {
  @media screen and (max-width: 575px) {
    font-size: 20px !important;
  }
}

.fs-575-16 {
  @media screen and (max-width: 575px) {
    font-size: 16px !important;
  }
}

.fs-575-14 {
  @media screen and (max-width: 575px) {
    font-size: 14px !important;
  }
}

.fs-490-14 {
  @media screen and (max-width: 490px) {
    font-size: 14px !important;
  }
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600 !important;
}

.fw-700 {
  font-weight: 700;
}

.lh-1 {
  line-height: 1;
}

.lh-34 {
  line-height: 34px;
}

.lh-30 {
  line-height: 30px;
}

.lh-28 {
  line-height: 28px;
}

.lh-26 {
  line-height: 26px;
}

.lh-1366-22 {
  @media screen and (max-width: 1366px) {
    line-height: 22px;
  }
}

.px-1367-6 {
  @media screen and (min-width: 1367px) {
    padding-left: 7rem !important;
    padding-right: 7rem !important;
  }
}

.ls-minus-p5 {
  letter-spacing: -0.5px;
}

.w-1366-88 {
  @media screen and (max-width: 1366px) {
    width: 88px;
  }
}

.w-1366-80 {
  @media screen and (max-width: 1366px) {
    width: 80px !important;
  }
}

.w-1366-48 {
  @media screen and (max-width: 1366px) {
    width: 48px !important;
  }
}

.w-768-72 {
  @media screen and (max-width: 768px) {
    width: 72px !important;
  }
}

.w-768-32 {
  @media screen and (max-width: 768px) {
    width: 32px !important;
  }
}

.h-768-24 {
  @media screen and (max-width: 768px) {
    height: 24px !important;
  }
}

.d-1366-block {
  @media screen and (min-width: 1367px) {
    display: block !important;
  }
}

.close {
  opacity: 1;

  &:hover {
    opacity: 1;
  }
}

#dark-overlay,
#dark-overlay-beneath {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  z-index: 6;
  background-color: $color18;
}

hr {
  border-top: 1px solid $color5;
}

div.shadowy {
  border: none;
  width: 200%;
  height: 1px;
  box-shadow: 0 4px 2px rgba(0, 0, 0, 0.1);
  margin-left: -10rem;
  max-width: 2000px;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;

  @media screen and (max-width: 768px) {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  @media screen and (max-width: 768px) {
    box-shadow: none;
    border-bottom: 1px solid $color30;
    display: none;
  }
}

.text-underline {
  text-decoration: underline;
}

.text-yellow {
  color: $color1;
}

.text-light {
  color: $color5;
}

.text-light-2 {
  font-weight: 500;
  color: $color3;
}

.badge {
  background-color: $color1;
  padding: 0.125rem 0.75rem;
  border-radius: 7px;
}

.explore {
  @media screen and (max-width: 1099px) {
    &.d-block.d-lg-none {
      display: block !important;
      padding-left: 68px !important;
      padding-right: 68px !important;
    }
  }

  @media screen and (max-width: 991px) {
    &.page-container.explore.bottom.d-block.d-lg-none.pb-5.mt-5.mb-5.blogs {
      padding-left: 14px !important;
      padding-right: 14px !important;
    }
  }

  .tags {
    .tags-group {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 1rem;

      button {
        border-color: $color5;
        color: $color5;
        transition: 0.4s ease;

        &:hover {
          @media screen and (min-width: 769px) {
            border-color: $color2;
            color: $color2;
          }
        }

        @media screen and (max-width: 1099px) {
          border-color: $color2;
          color: $color2;
        }

        @media screen and (max-width: 742px) {
          font-size: 10px;
        }

        @media screen and (max-width: 639px) {
          font-size: 8px;
        }

        @media screen and (max-width: 575px) {
          font-size: 14px;
        }

        @media screen and (max-width: 381px) {
          font-size: 12px;
        }

        @media screen and (max-width: 351px) {
          font-size: 11px;
        }
      }

      & > * {
        flex-grow: 1;

        &:first-child {
          margin-right: 0.25rem;
        }

        &:last-child {
          margin-left: 0.25rem;
        }
      }
    }
  }

  .posts {
    .post {
      border: 0px solid #bcbcbc69;
      border-top-width: 1px;
      padding: 1rem 0 1.325rem;

      &:last-child {
        border-bottom-width: 1px;
      }

      .info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 0.75rem;

        .date {
          font-size: 12px;
        }

        .time {
          font-size: 14px;
          color: $color5;

          @media screen and (max-width: 1099px) {
            font-size: 13px;
          }
        }
      }
    }
  }

  &.bottom {
    button {
      @media screen and (max-width: 680px) {
        font-size: 10px;
      }

      @media screen and (max-width: 680px) {
        font-size: 14px;
      }
    }

    .posts {
      .post {
        padding: 1.25rem 0;
      }
    }
  }
}

.account-info {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media screen and (max-width: 575px) {
    flex-direction: column;
    align-items: flex-start;
  }

  .general {
    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: 575px) {
      width: 100%;
      justify-content: flex-start;
    }

    img.avatar {
      margin-right: 1rem;
    }

    .name {
      font-size: 16px;
    }

    small {
      margin-left: 0.5rem;
      font-size: 14px;
      color: $color5;
      font-weight: 500;
    }

    img.bookmark {
      margin-left: 2rem;

      @media screen and (max-width: 991px) {
        margin-left: 8.5vw;
      }

      @media screen and (max-width: 575px) {
        margin-left: auto;
      }
    }
  }

  .social {
    @media screen and (max-width: 575px) {
      margin-top: 1.5rem;
    }

    a {
      margin-right: 0.75rem;
    }
  }
}

.timeline-wrapper {
  position: relative;
  height: 445px;
  margin: 6rem 0;
  overflow-x: auto;

  &::-webkit-scrollbar {
    height: 0px;
  }
  // &::-webkit-scrollbar-track {
  //   background: #f1f1f1;
  // }

  // /* Handle */
  // &::-webkit-scrollbar-thumb {
  //   background: #888;
  // }

  // /* Handle on hover */
  // &::-webkit-scrollbar-thumb:hover {
  //   background: #555;
  // }

  @media screen and (max-width: 767px) {
    margin: 3rem 0;
  }

  .timeline-main,
  .middle-line {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    .slide {
      position: absolute;
      top: -25px;
      right: 125px;
      color: $color3;

      @media screen and (max-width: 767px) {
        display: none;
      }
    }
  }

  .middle-line {
    left: 0;
    width: 100%;
    height: 2px;
    background-color: $color4;

    @media screen and (max-width: 1850px) {
      left: 0;
      transform: translate(0, -50%);
      width: 1838px;
    }

    @media screen and (max-width: 1100px) {
      width: 1482px;
    }
  }

  .timeline-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1365px;
    margin-left: auto;
    margin-right: auto;
    left: 50%;
    transform: translate(-50%, -50%);

    @media screen and (max-width: 1850px) {
      width: 890px;
      left: 0;
      transform: translate(0, -50%);
      margin-left: 29rem;
    }

    @media screen and (max-width: 1100px) {
      margin-left: 18rem;
    }

    .item {
      position: relative;

      .circle {
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: $color4;
      }

      .content {
        position: absolute;
        left: 50%;
        bottom: 60px;
        width: 374px;
        height: 161px;
        padding: 1rem;
        transform: translateX(-50%);
        background-color: #fff;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        display: flex;
        justify-content: center;
        align-items: center;

        .arrow {
          width: 50px;
          height: 25px;
          position: absolute;
          top: 100%;
          left: 50%;
          transform: translateX(-50%);
          overflow: hidden;

          &::after {
            content: "";
            position: absolute;
            width: 20px;
            height: 20px;
            background: white;
            transform: translateX(-50%) translateY(-50%) rotate(45deg);
            top: 0;
            left: 50%;
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
          }
        }

        .text {
          p {
            line-height: 30px;
            font-weight: 600;
          }
        }
      }

      &:nth-child(even) {
        .content {
          bottom: unset;
          top: 60px;
        }

        .arrow {
          top: unset;
          bottom: 100%;
          transform: translateX(-50%) rotate(180deg);

          &::after {
            top: unset;
            bottom: 4px;
            transform: translateX(-50%) translateY(-50%) rotate(225deg);
          }
        }
      }
    }
  }
}

@media screen and (min-width: 576px) {
  .progress-header {
    position: fixed;
    top: 0;
    z-index: 6;
    width: 100%;
    background-color: #f1f1f1;

    .progress-container {
      width: 100%;
      height: 4px;
      background: #ccc;

      .progress-bar {
        height: 4px;
        background: $color1;
        width: 0%;
      }
    }
  }
}

// ////////////////////////////////////////////////////// CUSTOM MODAL ////////////////////////////////////////////////////////

.custom-modal {
  position: fixed;
  z-index: 7;
  background-color: #fff;
  border-radius: 10px;
  padding: 5rem 1.5rem 2rem;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  overflow-y: auto;
  max-height: 100vh;

  &::-webkit-scrollbar {
    width: 3px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: transparent;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #888;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  &.bottem-aligned {
    top: unset;
    bottom: 0;
    transform: translateX(-50%);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

    @media screen and (min-width: 769px) {
      height: 90vh;
    }

    @media screen and (max-width: 575px) {
      padding-left: 0.75rem;
      padding-right: 0.75rem;
    }
  }

  @media screen and (max-width: 1366px) and(min-width: 769px) {
    &.bottem-aligned-laptop {
      height: 85% !important;
      top: unset;
      bottom: 0;
      transform: translateX(-50%);
      border-top-left-radius: 15px !important;
      border-top-right-radius: 15px !important;
    }
  }

  &:not(.small-width):not(.xs):not(.md) {
    .close {
      top: 2.75rem;

      @media screen and (max-width: 768px) {
        top: 1.25rem;
      }

      @media screen and (max-width: 575px) {
        top: calc(1.25rem + 64px);
      }

      &.top-right {
        top: 1rem;
        right: 1rem;

        @media screen and (max-width: 768px) {
          top: 1.25rem;
        }

        @media screen and (max-width: 575px) {
          top: calc(1.25rem + 64px);
        }
      }
    }

    @media screen and (max-width: 1366px) {
      top: unset;
      bottom: 0;
      transform: translateX(-50%);
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }

    @media screen and (max-width: 1366px) {
      left: 50%;
    }

    @media screen and (max-width: 768px) {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      height: 100%;
    }
  }

  @media screen and (max-width: 768px) {
    &:not(.md):not(.xs) {
      top: unset;
      transform: unset;
      bottom: 0;
      left: 0;
      width: 100vw !important;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  @media screen and (max-width: 575px) {
    height: 100%;
  }

  .close {
    z-index: 1;
    position: absolute;
    top: 1rem;
    right: 1.5rem;
    cursor: pointer;

    @media screen and (max-width: 575px) {
      top: calc(1rem + 64px);
    }
  }

  .modal-head {
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    padding-bottom: 0.75rem;

    @media screen and (max-width: 575px) {
      align-items: flex-start;
    }

    .img {
      margin-right: 1rem;

      img {
        width: 56px;

        @media screen and (max-width: 575px) {
          width: 32px;
        }
      }
    }

    .title {
      font-size: 20px;
      font-weight: 600;

      @media screen and (max-width: 575px) {
        font-size: 18px;
      }
    }

    small {
      color: $color3;
      font-size: 16px;
    }
  }

  @media screen and (max-width: 575px) {
    .modal-body.no-head {
      padding-top: 64px;
    }
  }

  &.small-width {
    width: 660px;
    height: unset;

    @media screen and (max-width: 575px) {
      height: 100vh;
    }
  }

  &.xs,
  &.md {
    padding: 3rem 3.5rem;
    border-bottom: 5px solid $color1;

    @media screen and (max-width: 575px) {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }

    input,
    textarea {
      // padding: 0.75rem 1rem;
    }

    input::placeholder,
    textarea::placeholder {
      color: $color3;
    }

    .close {
      top: 1.25rem;
      right: 1.5rem;

      @media screen and (max-width: 575px) {
        top: calc(1.25rem + 64px);
      }
    }

    .btn {
      color: $color2;
      min-width: 120px;
    }
  }

  &.xs {
    @media screen and (min-width: 576px) {
      width: 444px;
    }

    @media screen and (max-width: 575px) {
      padding-left: 1rem;
      padding-right: 1rem;
      width: 100vw;
      height: 100vh;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      background-color: $color32;
    }
  }

  &.md {
    max-width: 878px;

    @media screen and (max-width: 768px) {
      padding-left: 1rem;
      padding-right: 1rem;
      width: 100vw;
      top: unset;
      transform: unset;
      left: 0;
      bottom: 0;
      background-color: $color32;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      height: 90%;
    }

    @media screen and (max-width: 575px) {
      height: 100vh;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
  }
}

////////////////////////////////////////////////////// CUSTOM RANGE SLIDER  ////////////////////////////////////////////////////////

.slidecontainer {
  width: 100%;
  position: relative;

  &::before,
  &::after {
    content: "";
    top: 50%;
    position: absolute;
    height: 10px;
    width: 1px;
    background-color: $color3;
  }

  .slider {
    -webkit-appearance: none;
    width: 100%;
    height: 1px;
    border-radius: 5px;
    background: $color3;
    outline: none;
    opacity: 1;
    transition: opacity 0.2s;
  }

  .slider:hover {
    opacity: 1;
  }

  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border: 0;
    background: url("../vector/slider-img.svg");
    cursor: pointer;
  }

  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border: 0;
    background: url("../vector/slider-img.svg");
    cursor: pointer;
  }
}

////////////////////////////////////////////////////// CUSTOM BTNS  ////////////////////////////////////////////////////////

.btn {
  padding: 0.65rem 2rem;
  font-size: 14px;
  flex-grow: 0;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;

  &.w-100px {
    width: 100px;
  }

  &.w-1366-80px {
    @media screen and (max-width: 1366px) {
      width: 80px;
    }
  }

  &.h-32px {
    height: 32px;

    @media screen and (max-width: 1366px) {
      height: 24px;
    }
  }

  &.btn-bg-light {
    background-image: linear-gradient(to bottom, $color17, #fff);
    color: $color3;
  }
}

.btn-outlined-dark {
  border: 2px solid $color2;
  border-radius: 50px;
  transition: 0.4s ease;
  background: transparent;

  &,
  * {
    font-weight: 600;
  }

  &:hover {
    @media screen and (min-width: 769px) {
      color: #fff;
      background-color: $color2;

      * {
        color: #fff;
      }
    }
  }

  &.primary {
    color: $color1;
    border-color: $color1;

    &:hover {
      @media screen and (min-width: 769px) {
        color: #fff;
        background-color: $color1;
      }
    }
  }
}

.btn-outlined {
  border-radius: 4px;
  border: 1px solid $color2;
  padding: 0.5rem 1rem;

  &.green {
    background-color: $color27;
    color: $color23;
    border-color: $color23;

    * {
      color: $color23;
    }
  }

  &.red {
    background-color: $color29;
    color: $color28;
    border-color: $color28;
  }

  &.yellow {
    background-color: $color21;
    color: $color1;
    border-color: $color1;
  }
}

.btn-bg-primary,
#mc-btn__ok {
  font-family: "Source Sans Pro", sans-serif;
  background-color: $color1;
  border-radius: 50px;
  border: 2px solid transparent;
  transition: 0.4s ease;
  font-weight: 600;

  background-color: #ffc32c;
  color: #31353f;
  font-size: 16px;
  text-decoration: none;
  transition: 0.3s;
  outline: none !important;

  &:hover {
    @media screen and (min-width: 769px) {
      background-color: transparent;

      color: #31353f !important;
      transform: scale(1.05, 1);
      background-color: #ffc32c !important;
      box-shadow: 0px 3px 20px -5px #ffc32c !important;
      text-decoration: none !important;
      border-color: transparent !important;
      outline: none !important;
    }
  }
}

.btn-rounded {
  border-radius: 50px;
  background: #fff;
  border: 1px solid #dedede;
}

@media screen and (max-width: 575px) {
  .custom-modal .modal-body {
    height: 100%;
  }
}
.bottom-btn-sm {
  pointer-events: none;

  * {
    pointer-events: all;
  }

  @media screen and (max-width: 575px) {
    // background: linear-gradient(to top, #fff, transparent);
    // position: sticky;
    // display: flex;
    // justify-content: center;
    // padding: 1rem 0;
    // bottom: -46px;
    // left: 0;
    // right: 0;

    position: fixed;
    background: linear-gradient(to top, #fff, transparent);
    display: flex;
    justify-content: center;
    padding: 2rem 1rem;
    bottom: 0;
    left: 0;
    right: 0;

    .btn {
      width: 100%;
    }
  }

  &.tablet {
    @media screen and (max-width: 768px) {
      position: fixed;
      background: linear-gradient(to top, #fff, transparent);
      display: flex;
      justify-content: center;
      padding: 2rem 1rem;
      bottom: 0;
      left: 0;
      right: 0;

      .btn {
        width: 100%;
      }
    }
  }

  &.desktop {
    @media screen and (max-width: 991px) {
      position: fixed;
      background: linear-gradient(to top, #fff, transparent);
      display: flex;
      justify-content: center;
      padding: 2rem 1rem;
      bottom: 0;
      left: 0;
      right: 0;

      .btn {
        width: 100%;
        @media screen and (min-width: 576px) {
          max-width: 328px;
        }
      }
    }
  }
}

////////////////////////////////////////////////////// CUSTOM FORM CONTROLS   ////////////////////////////////////////////////////////

.custom-form-control {
  input,
  select,
  label {
    font-size: 16px;
  }

  h4 {
    font-size: 14px;
    margin-bottom: 0.75rem;
  }

  &.empty {
    height: 40px;
  }

  a {
    color: $color1;
    text-decoration: underline;
  }

  &.search-sm {
    width: 202px;
    position: relative;

    input {
      font-size: 16px;
      padding: 0.75rem;
      padding: 0.565rem 1rem;

      &::placeholder {
        color: $color3;
      }
    }

    img {
      position: absolute;
      right: 0.75rem;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  .with-icon {
    position: relative;

    .icon {
      pointer-events: none;
      position: absolute;
      right: 1rem;
      top: 50%;
      transform: translateY(-50%);
    }

    .icon:not(.no-clr) {
      *.white-clr {
        fill: #fff !important;
      }

      *:not(.no-clr) {
        fill: $color2;
      }
    }
  }

  &.active .with-icon .icon *:not(.no-clr) {
    fill: $color1;
  }
}

input.custom-input,
textarea.custom-input,
.time-input {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 500;
  width: 100%;
  background-color: transparent;
  border-radius: 5px;
  padding: 0.6125rem 1rem;
  border: 1px solid $color7;
  transition: 0.4s ease;
  color: $color2;

  &:disabled {
    color: $color3;
    background-color: $color22;
  }

  &:not(textarea) {
    height: 40px;
  }

  &::placeholder {
    font-weight: 400;
    // color: $color31;
    // color: #000;
  }

  &.active,
  &:focus {
    outline: none;
    border-color: $color1;
    box-shadow: 0 0 7px $color20;
  }

  &.with-outline {
    outline: 5px solid rgba(#ffc32c, 0.19);
  }

  // &[type="time"]:focus,
  // &[type="time"].active,
  // &[type="date"]:focus,
  // &[type="date"].active {
  //   outline: 4px solid rgba(#ffc32c, 0.19);
  // }
}

// ////////////////////////////////////////////////////// CUSTOM RADIO ////////////////////////////////////////////////////////

.custom-radio {
  position: relative;
  display: inline-block;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  cursor: pointer;
  font-size: 16px;
  user-select: none;

  &,
  & * {
    transition: 0.4s ease;
  }

  &:hover {
    @media screen and (min-width: 769px) {
      input ~ .checkmark {
        background-color: $color9;
      }
    }
  }

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;

    & ~ .checkmark {
      transition: 0.4s ease;

      &::after {
        display: block;
        left: 50%;
        top: 50%;
        opacity: 0;
        transition: 0.4s ease;
      }
    }

    &:checked ~ .checkmark {
      border-color: $color1;

      &::after {
        opacity: 1;
      }
    }
  }

  .checkmark {
    position: absolute;
    top: 50%;
    left: 0;
    height: 16px;
    width: 16px;
    border: 1px solid $color3;
    border-radius: 50%;
    transform: translateY(-50%);

    &::after {
      content: "";
      position: absolute;
      display: none;
      top: 9px;
      left: 9px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: $color1;
      transform: translate(-50%, -50%);
    }
  }
}

// ////////////////////////////////////////////////////// CUSTOM SWITCH ////////////////////////////////////////////////////////

/* The container */
.checkbox-container {
  display: block;
  position: relative;
  margin: 12px 0;
  cursor: pointer;
  font-size: 20px;
  user-select: none;

  &.fs-1366-16 {
    @media screen and (max-width: 1366px) {
      font-size: 16px;
    }
  }

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;

    &:checked ~ .checkmark {
      background-color: $color1;
      border-color: transparent;

      &::after {
        display: block;
      }
    }
  }

  .checkmark {
    position: absolute;
    top: 50%;
    right: 0;
    height: 16px;
    width: 16px;
    border: 1px solid $color2;
    border-radius: 3px;
    transform: translateY(-50%);

    &::after {
      content: "";
      position: absolute;
      display: none;
      left: 4px;
      top: 0px;
      width: 4px;
      height: 8px;
      border: solid white;
      border-width: 0 2.5px 2.5px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }
}

// ////////////////////////////////////////////////////// CUSTOM SWITCH ////////////////////////////////////////////////////////

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;

  input {
    opacity: 0;
    width: 0;
    height: 0;

    &:checked {
      & + .slider:before {
        transform: translate(13px, 1px);
      }

      & + .slider {
        background-color: $color1;
      }
    }

    &:focus + .slider {
      box-shadow: 0 0 1px $color1;
    }
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 35px;
    height: 20px;
    background-color: $color3;
    transition: 0.4s;
    margin-left: 0.25rem;

    &.round {
      border-radius: 34px;

      &::before {
        border-radius: 50%;
      }
    }

    &:before {
      position: absolute;
      content: "";
      height: 14px;
      width: 14px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      transition: 0.4s;
      transform: translateY(1px);
    }
  }
}

.radio-container,
.switch-container {
  height: 35px;
  display: flex;
  align-items: center;
}

.switch-container {
  margin-top: 2.25rem;
}

// ////////////////////////////////////////////////////// CUSTOM SELECT ////////////////////////////////////////////////////////
// select-arrow-active
.custom-select {
  position: relative;
  font-family: Arial;
  width: 100%;

  svg {
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
  }
}

.custom-select select {
  display: none; /*hide original SELECT element:*/
}

.select-selected {
  /*style the arrow inside the select element:*/
  border: 1px solid $color3 !important;
  border-radius: 5px;
  padding: 0.5rem !important;

  &.select-arrow-active {
    border-color: $color1 !important;
  }

  &:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 20px;
    border: solid $color2;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    transition: 0.4s ease;
  }

  /*point the arrow upwards when the select box is open (active):*/
  &.select-arrow-active:after {
    border-color: $color1;
    top: 17px;
    transform: rotate(-135deg);
  }
}

/*style the items (options), including the selected item:*/
.select-items div,
.select-selected {
  padding: 8px 16px;
  border: 1px solid transparent;
  // border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  user-select: none;
}

/*style items (options):*/
.select-items {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0 15px 20px #55555542;
  background: #fff;
}

/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}

.select-items div {
  transition: 0.4s ease;
}

.select-items div:hover,
.same-as-selected {
  background-color: $color21;
  color: $color1;
}

// //////////////////////////////////////////////////////////// STYLED BOXES ///////////////////////////////////////////////////////////

.details-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 1rem;

  @media screen and (max-width: 1366px) and (min-width: 992px) {
    padding: 0 2.5rem;
  }

  @media screen and (max-width: 991px) {
    flex-wrap: wrap;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  .details-item {
    width: 33.33%;
    padding: 0 2.5rem;

    @media screen and (max-width: 1366px) {
      padding: 0;
      width: 31.5%;
    }

    @media screen and (max-width: 991px) {
      width: 100%;
      // margin: 1rem 0 1.5rem;
    }

    @media screen and (max-width: 991px) and (min-width: 600px) {
      &.half,
      &.half-inner input,
      &.half-inner .custom-select {
        width: 47%;
      }
    }

    .custom-form-control {
      margin-bottom: 1.5rem;
    }

    .details-box {
      margin-bottom: 2rem;

      .box-title {
        color: $color3;
      }

      .box-content {
        position: relative;
        border: 1px solid $color3;
        border-radius: 3px;
        margin-top: 1.5rem;
        height: 100%;

        .box-subtitle {
          position: absolute;
          top: -15px;
          left: -2px;
          display: inline-block;
          font-weight: 700;
          padding: 0.425rem 0.75rem;
          padding-right: 1rem;
          border-top-right-radius: 25px;
          border-bottom-right-radius: 25px;
          background-color: $color17;
          color: $color3;
        }

        .box-text {
          padding: 2rem 1.5rem 1rem;
          height: 100%;

          &:not(.n-padding) {
            padding-right: 2.5rem;
          }
        }

        .edit {
          position: absolute;
          right: 0.75rem;
          bottom: 0.5rem;

          // @media screen and (max-width: 991px) {
          top: 50%;
          bottom: unset;
          transform: translateY(-50%);
          // }
        }
      }

      &.primary {
        .box-title {
          color: $color1;
        }

        .box-content {
          background-color: $color21;
          border-color: $color1;

          .box-subtitle {
            background-color: $color1;
            color: $color2;
          }
        }
      }

      &.green {
        .box-title {
          color: $color23;
        }

        .box-content {
          border-color: $color23;
          background-color: $color24;

          .box-subtitle {
            background-color: $color23;
            color: #fff;
          }
        }
      }
    }
  }
}

// //////////////////////////////////////////////////////////// SIDEBAR ///////////////////////////////////////////////////////////

#right-menu-login,
#right-menu {
  position: fixed;
  overflow-y: scroll;
  background: #fff;
  right: 0;
  top: 0;
  z-index: 11;
  height: 100vh;
  width: 462px;

  & > * {
    padding-left: 2rem;
    padding-right: 1rem;
  }

  .close {
    position: absolute;
    right: 1rem;
    top: 2.5rem;
  }

  .nav {
    display: flex;
    flex-direction: column;
    padding-top: 4rem;

    a {
      color: $color2;
      display: block;
      text-decoration: none;
      transition: 0.4s ease;
      font-size: 24px;
      padding: 0.5rem 0;

      &:hover,
      &.active {
        color: $color1;
      }
    }
  }

  @media screen and (max-width: 1366px) {
    width: 322px;
  }

  @media screen and (max-width: 768px) {
    width: 462px;
  }

  @media screen and (max-width: 490px) {
    width: 87%;
  }
}

#right-menu-login {
  .close {
    right: 0;

    @media screen and (max-width: 1366px) and (min-width: 769px) {
      top: 2rem;

      img {
        width: 24px;
      }
    }

    @media screen and (max-width: 575px) {
      top: 2rem;

      img {
        width: 24px;
      }
    }
  }

  .nav {
    padding-top: 4rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid $color30;

    @media screen and (max-width: 1366px) {
      padding-top: 2rem;
      padding-bottom: 1rem;
    }

    &.nav-fp {
      a {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 0;

        & > div {
          display: flex;
          align-items: center;
        }

        svg {
          margin-right: 1rem;
          width: 24px;
        }

        .count {
          width: 24px;
          height: 24px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 50%;

          * {
            font-size: 14px;
          }

          &.red {
            background: $color28;

            * {
              color: #fff;
            }
          }

          &.yellow {
            background: $color1;
          }
        }
      }
    }
  }

  .profile-info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 1.75rem;

    img {
      width: 48px;
      margin-right: 1rem;
    }
  }

  .setting {
    padding-top: 2rem;

    @media screen and (max-width: 1366px) {
      padding-top: 1rem;
    }

    .setting-main {
      margin: 1rem 0;

      .item {
        padding: 1rem 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;

        @media screen and (max-width: 1366px) {
          padding: 0.75rem 0;
        }

        &:last-child {
          margin-bottom: 5rem;
        }

        & > div {
          display: flex;
          align-items: center;
        }

        svg {
          width: 24px;

          @media screen and (max-width: 1366px) and (min-width: 769px) {
            width: 16px;
            height: 16px;
          }

          @media screen and (max-width: 575px) {
            width: 16px;
            height: 16px;
          }

          &:nth-child(1) {
            margin-right: 1rem;
          }

          &:nth-child(2) {
            transform: rotate(-90deg);
          }
        }
      }
    }
  }
}

#right-menu {
  .nav {
    a {
      font-size: 32px;
      padding: 1rem 0;

      @media screen and (max-width: 1366px) {
        font-size: 24px;
      }

      @media screen and (max-width: 768px) {
        font-size: 32px;
      }

      @media screen and (max-width: 575px) {
        font-size: 24px;
      }
    }
  }

  .btn {
    position: absolute;
    bottom: 15rem;
    width: 90%;
    font-size: 24px;

    @media screen and (max-width: 1366px) {
      bottom: 10rem;
      font-size: 14px;
      width: 85%;
    }

    @media screen and (max-width: 768px) {
      bottom: 2rem;
    }
  }
}

// //////////////////////////////////////////////////////////// SIDENAV ///////////////////////////////////////////////////////////

#sidenav-container {
  display: flex;

  & > * {
    padding-top: 4rem;

    @media screen and (max-width: 992px) {
      padding-top: 1rem;
    }
  }

  #sidenav {
    height: 100vh;
    width: 20%;
    background-color: $color26;

    @media screen and (max-width: 991px) {
      display: none;
    }

    & > *,
    & .nav .nav-item {
      padding-left: 4vw;
      padding-right: 1rem;

      @media screen and (max-width: 1366px) {
        padding-left: 2.5vw;
      }

      @media screen and (max-width: 1160px) {
        padding-left: 2vw;
      }
    }

    .logo {
      display: block;
      padding-top: 0.75rem;

      img {
        margin-left: 40px;
      }

      @media screen and (max-width: 1366px) {
        img {
          width: 88.4px;
        }
      }
    }

    .nav-item {
      display: flex;
      align-items: center;
      padding-top: 1rem;
      padding-bottom: 1rem;
      transition: 0.4s ease;

      * {
        transition: 0.4s ease;
      }

      &.help {
        margin-top: 5rem;
      }

      &.active,
      &:hover {
        background-color: $color21;

        * {
          color: $color1;
        }

        svg {
          path,
          line,
          circle {
            stroke: $color1;
          }
        }
      }

      &.back {
        margin: 5rem 0;
      }

      svg {
        margin-right: 1rem;
      }
    }

    .nav {
      padding-left: 0 !important;
      padding-right: 0 !important;

      .nav-item {
      }
    }
  }
}

#sidenav-right-content {
  padding-left: 7rem;
  padding-right: 7rem;

  @media screen and (max-width: 1366px) {
    padding-left: 5rem;
    padding-right: 5rem;
  }
  @media screen and (max-width: 991px) {
    width: 100%;
    padding-left: 1.75rem;
    padding-right: 1.75rem;
  }

  @media screen and (max-width: 575px) {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }

  &.n-rm-padding {
    @media screen and (max-width: 575px) {
      width: 100%;
      padding-left: 1.75rem;
      padding-right: 1.75rem;
    }
  }

  &.transactions-right {
    @media screen and (max-width: 575px) {
      width: 100%;
      padding-left: 1.75rem;
      padding-right: 1.75rem;
    }
  }

  &.refer-and-invest-right {
    @media screen and (max-width: 991px) {
      padding-left: 4.75rem;
      padding-right: 4.75rem;
    }

    @media screen and (max-width: 768px) {
      padding-left: 3rem;
      padding-right: 3rem;
    }

    @media screen and (max-width: 575px) {
      padding-left: 1.125rem;
      padding-right: 1.125rem;
    }
  }

  section {
    max-width: 1675px;
    margin-left: auto;
    margin-right: auto;
  }

  .top-fixed-bar {
    @media screen and (max-width: 768px) {
      position: fixed;
      left: 0;
      right: 0;
      top: 0;
      z-index: 1;
      background-color: #fff;
      margin-left: 0;
      margin-right: 0;
      padding-left: 1.25rem;
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
      border-bottom: 1px solid #eeeeee;
    }
  }

  .lower-content {
    @media screen and (max-width: 768px) {
      padding-top: 58px;
    }
  }
}

/* Dropdown Button */
.dropbtn {
  border: none;
  cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.custom-dropdown {
  position: relative;
  display: inline-block;

  .dropbtn {
    img {
      pointer-events: none;
    }

    svg {
      transform: translate(3px, -8px) rotate(90deg);
      transition: 0.4s ease;

      #Path_6068 {
        fill: $color2 !important;
      }
    }
  }

  &.show {
    display: block;

    .dropbtn {
      svg {
        transform: translate(3px, -8px) rotate(180deg);

        #Path_6068 {
          fill: $color1 !important;
        }
      }
    }

    .dropdown-content {
      display: block;
    }
  }
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  top: 3rem;
  background-color: #fff;
  box-shadow: 0px 0px 25px #b2b2b273;
  border-radius: 10px;
  z-index: 1;
  width: 384px;

  .head {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: $color21;
    border: 1px solid $color1;
    padding: 1rem 2rem;

    .text {
      margin-left: 2rem;
    }
  }

  .body {
    margin: 2rem 0;

    .nav-item {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding: 1rem 3.5rem;
      transition: 0.4s ease;

      * {
        transition: 0.4s ease;
      }

      svg {
        margin-right: 1.25rem;
      }

      &.active,
      &:hover {
        background-color: $color21;

        * {
          color: $color1;
        }

        svg {
          path,
          line,
          circle {
            stroke: $color1;
          }
        }
      }
    }
  }
}

.uploading {
  @media screen and (min-width: 576px) {
    padding: 0 2.5rem;
  }

  .upload-head {
    .file-info {
      .file-img {
        margin-right: 0.5rem;
      }
    }
  }

  .upload-body {
    margin-top: 1rem;
    position: relative;
    width: 100%;
    border-radius: 25px;
    overflow-y: hidden;

    @media screen and (min-width: 769px) {
      height: 10px;
    }

    .bg {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background-color: $color4;
    }

    .progress {
      border-radius: 25px;
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      width: 100%;
      background-color: $color23;

      &.yellow {
        background: $color1;
      }
    }
  }
}

[src="./assets/vector/back-arrow.svg"] {
  cursor: pointer;
}

.mc-calendar {
  min-height: 380px;
  &.mc-calendar--modal {
    box-shadow: 0 0 25px #b2b2b240 !important;

    &.mc-calendar--opened {
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .mc-picker {
    background-color: #fff;
  }

  .mc-table__weekday {
    font-size: 12px;
    color: $color3;
    font-weight: 500;
  }

  .mc-picker__body {
    border: 1px solid #d8d8d8;
    border-left: 0;
    border-right: 0;
  }

  .mc-date {
    width: 32px;
    height: 32px;

    &.mc-date--active {
      background: transparent;
    }

    &.mc-date--picked {
      display: inline-block;
      border-radius: 50%;
      background: $color1;
      font-weight: 600;
      color: $color2;
      line-height: 1.8;
      transform: translate(11px, 2px);
    }
  }

  .mc-month-year__cell--picked {
    border-radius: 50px;
    background: $color1;
  }

  .mc-month-year__cell {
    width: 21%;
    height: 16%;
  }

  .mc-picker__footer {
    display: flex;
    justify-content: center;

    #mc-btn__cancel {
      display: none;
    }
  }
}

.mc-calendar .mc-picker__footer button,
.timepicker_wrap a {
  width: 112px;
  height: 40px;
  color: $color2;
  border-radius: 50px;
  transition: 0.4s ease;
  border: 2px solid transparent;
  text-decoration: none;

  &#mc-btn__clear,
  &.reset_time {
    background: transparent;
    border-color: $color2;

    &:hover {
      @media screen and (min-width: 769px) {
        background: $color2;
        color: #fff;
      }
    }
  }

  &#mc-btn__ok,
  &.done {
    background: $color1;

    &:hover {
      @media screen and (min-width: 769px) {
        background: transparent;
        border-color: $color1;
        color: $color1;

        color: #31353f !important;
        transform: scale(1.05, 1);
        background-color: #ffc32c !important;
        box-shadow: 0px 3px 20px -5px #ffc32c !important;
        text-decoration: none !important;
        border-color: transparent !important;
        outline: none !important;
      }
    }
  }
}

.ti_tx,
.mi_tx,
.mer_tx {
  width: 100%;
  text-align: center;
  margin: 10px 0;
}

.timepicker_wrap {
  .time,
  .mins,
  .meridian {
    width: 60px;
    float: left;
    margin: 0px 10px;
    font-size: 20px;
    color: #2d2e2e;
    font-family: "arial";
    font-weight: 700;
  }
}

.prev,
.next {
  cursor: pointer;
  padding: 18px;
  width: 28%;
  border: 1px solid #ccc;
  margin: auto;
  background: url(../images/arrow.png) no-repeat;
  border-radius: 5px;
}

.next {
  background-position: 50% 150%;
}

.prev {
  background-position: 50% -50%;
}

.time_pick {
  position: relative;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  background: none;
}

input[type="time"]::-webkit-calendar-picker-indicator {
  background: none;
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}

input[type="time"],
input[type="date"] {
  -webkit-appearance: none;
}
input[type="time"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-inner-spin-button,
input[type="time"]::-webkit-calendar-picker-indicator,
input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}

.timepicker_wrap {
  transform: translateY(22px);
  justify-content: center;
  align-items: center;
  padding: 10px;
  padding-top: 1.75rem;
  border-radius: 5px;
  z-index: 2;
  display: none;
  width: 100%;
  box-shadow: 0 0 25px #b2b2b240;
  background: #fff;
  float: left;
  position: absolute;
  top: 27px;
  left: 0px;
  padding-bottom: 6rem;

  // @media screen and (max-width: 768px) {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  // }

  input {
    width: 72px;
    height: 72px;
    border: 1px solid #e8e8e8;
    text-align: center;
    font-size: 32px;
    color: #31353f;
    font-weight: 500;
    border-radius: 5px;
    font-family: SourceSansPro-Regular;
  }

  .mer_tx {
    input {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .prev,
  .next {
    padding: 0;
    width: 72px;
    border: none;
    text-align: center;
  }

  .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 1rem 0;
    border-top: 1px solid #f4f4f4;

    a {
      text-align: center;
      line-height: 2;
      margin: 0 0.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 600;
    }
  }
}

.arrow_top {
  position: absolute;
  top: -10px;
  left: 20px;
  background: url(../images/top_arr.png) no-repeat;
  width: 18px;
  height: 10px;
  z-index: 3;
}

.btn:focus {
  box-shadow: none;
}
input::-webkit-calendar-picker-indicator {
  display: none;
}

input[type="date"]::-webkit-input-placeholder {
  visibility: hidden !important;
}
