@import "./_constants.scss";

h1 {
  font-size: 44px;

  @media screen and (max-width: 991px) {
    font-size: 30px;
  }
}

h2 {
  font-size: 32px;

  @media screen and (max-width: 991px) {
    font-size: 24px;
  }
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 16px;
}

h5 {
  font-size: 14px;
}

p {
  font-size: 20px;
  line-height: 40px;
  word-spacing: 3.5px;

  @media screen and(max-width: 991px) {
    font-size: 18px;
    line-height: 32px;
  }
}

.ws-1 {
  word-spacing: 1px;
}

.fs-52 {
  font-size: 52px;
}

.fs-20 {
  font-size: 20px;
}

.fs-17 {
  font-size: 17px;
}

.fs-16 {
  font-size: 18px;
}

.fs-18 {
  font-size: 18px;
}

.fs-12 {
  font-size: 12px;
}

.fw-500 {
  font-weight: 600;
}

.fw-600 {
  font-weight: 600;
}

.lh-34 {
  line-height: 34px;
}

.lh-30 {
  line-height: 30px;
}

.lh-28 {
  line-height: 28px;
}

#dark-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  z-index: 6;
  background-color: $color18;
}

hr {
  border-top: 1px solid $color5;
}

div.shadowy {
  border: none;
  width: 100%;
  height: 1px;
  box-shadow: 0 4px 2px rgba(0, 0, 0, 0.1);
}

.text-underline {
  text-decoration: underline;
}

.text-yellow {
  color: $color1;
}

.text-light {
  color: $color5;
}

.text-light-2 {
  font-weight: 500;
  color: $color3;
}

.badge {
  background-color: $color1;
  padding: 0.125rem 0.75rem;
  border-radius: 7px;
}

.explore {
  .tags {
    .tags-group {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 1rem;

      button {
        border-color: $color5;
        color: $color5;
        transition: 0.4s ease;

        &:hover {
          border-color: $color2;
          color: $color2;
        }

        @media screen and (max-width: 742px) {
          font-size: 10px;
        }

        @media screen and (max-width: 639px) {
          font-size: 8px;
        }

        @media screen and (max-width: 575px) {
          font-size: 14px;
        }

        @media screen and (max-width: 381px) {
          font-size: 12px;
        }

        @media screen and (max-width: 351px) {
          font-size: 11px;
        }
      }

      & > * {
        flex-grow: 1;

        &:first-child {
          margin-right: 0.25rem;
        }

        &:last-child {
          margin-left: 0.25rem;
        }
      }
    }
  }

  .posts {
    .post {
      border: 0px solid $color5;
      border-top-width: 1px;
      padding: 1rem 0 1.325rem;

      &:last-child {
        border-bottom-width: 1px;
      }

      .info {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .date {
          font-size: 12px;
        }

        .time {
          font-size: 14px;
          color: $color5;
        }
      }
    }
  }

  &.bottom {
    button {
      @media screen and (max-width: 680px) {
        font-size: 10px;
      }

      @media screen and (max-width: 680px) {
        font-size: 14px;
      }
    }

    .posts {
      .post {
        padding: 1.25rem 0;
      }
    }
  }
}

.account-info {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media screen and (max-width: 575px) {
    flex-direction: column;
    align-items: flex-start;
  }

  .general {
    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: 575px) {
      width: 100%;
      justify-content: flex-start;
    }

    img.avatar {
      margin-right: 1rem;
    }

    .name {
      font-size: 16px;
    }

    small {
      margin-left: 0.5rem;
      font-size: 14px;
      color: $color5;
      font-weight: 500;
    }

    img.bookmark {
      margin-left: 2rem;

      @media screen and (max-width: 991px) {
        margin-left: 8.5vw;
      }

      @media screen and (max-width: 575px) {
        margin-left: auto;
      }
    }
  }

  .social {
    @media screen and (max-width: 575px) {
      margin-top: 1.5rem;
    }

    a {
      margin-right: 0.75rem;
    }
  }
}

.timeline-wrapper {
  position: relative;
  height: 445px;
  margin: 6rem 0;
  overflow-x: auto;

  &::-webkit-scrollbar {
    height: 0px;
  }
  // &::-webkit-scrollbar-track {
  //   background: #f1f1f1;
  // }

  // /* Handle */
  // &::-webkit-scrollbar-thumb {
  //   background: #888;
  // }

  // /* Handle on hover */
  // &::-webkit-scrollbar-thumb:hover {
  //   background: #555;
  // }

  @media screen and (max-width: 767px) {
    margin: 3rem 0;
  }

  .timeline-main,
  .middle-line {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    .slide {
      position: absolute;
      top: -25px;
      right: 125px;
      color: $color3;

      @media screen and (max-width: 767px) {
        display: none;
      }
    }
  }

  .middle-line {
    left: 0;
    width: 100%;
    height: 2px;
    background-color: $color4;

    @media screen and (max-width: 1850px) {
      left: 0;
      transform: translate(0, -50%);
      width: 1838px;
    }

    @media screen and (max-width: 1100px) {
      width: 1482px;
    }
  }

  .timeline-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1365px;
    margin-left: auto;
    margin-right: auto;
    left: 50%;
    transform: translate(-50%, -50%);

    @media screen and (max-width: 1850px) {
      width: 890px;
      left: 0;
      transform: translate(0, -50%);
      margin-left: 29rem;
    }

    @media screen and (max-width: 1100px) {
      margin-left: 18rem;
    }

    .item {
      position: relative;

      .circle {
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: $color4;
      }

      .content {
        position: absolute;
        left: 50%;
        bottom: 60px;
        width: 374px;
        height: 161px;
        padding: 1rem;
        transform: translateX(-50%);
        background-color: #fff;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        display: flex;
        justify-content: center;
        align-items: center;

        .arrow {
          width: 50px;
          height: 25px;
          position: absolute;
          top: 100%;
          left: 50%;
          transform: translateX(-50%);
          overflow: hidden;

          &::after {
            content: "";
            position: absolute;
            width: 20px;
            height: 20px;
            background: white;
            transform: translateX(-50%) translateY(-50%) rotate(45deg);
            top: 0;
            left: 50%;
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
          }
        }

        .text {
          p {
            line-height: 30px;
            font-weight: 600;
          }
        }
      }

      &:nth-child(even) {
        .content {
          bottom: unset;
          top: 60px;
        }

        .arrow {
          top: unset;
          bottom: 100%;
          transform: translateX(-50%) rotate(180deg);

          &::after {
            top: unset;
            bottom: 4px;
            transform: translateX(-50%) translateY(-50%) rotate(225deg);
          }
        }
      }
    }
  }
}

@media screen and (min-width: 576px) {
  .progress-header {
    position: fixed;
    top: 0;
    z-index: 6;
    width: 100%;
    background-color: #f1f1f1;

    .progress-container {
      width: 100%;
      height: 4px;
      background: #ccc;

      .progress-bar {
        height: 4px;
        background: $color1;
        width: 0%;
      }
    }
  }
}

// ////////////////////////////////////////////////////// CUSTOM MODAL ////////////////////////////////////////////////////////

.custom-modal {
  position: fixed;
  z-index: 7;
  background-color: #fff;
  border-radius: 10px;
  padding: 5rem 1.5rem 2rem;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 90%;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 3px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: transparent;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #888;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  &.bottem-aligned {
    top: unset;
    bottom: 0;
    transform: translateX(-50%);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  &:not(.small-width) {
    .close {
      top: 2.75rem;

      &.top-right {
        top: 1rem;
        right: 1rem;
      }

      @media screen and (max-width: 768px) {
        top: 2rem;
      }
    }

    @media screen and (max-width: 1366px) {
      top: unset;
      bottom: 0;
      transform: translateX(-50%);
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }

    @media screen and (max-width: 1366px) {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      height: 100%;
      left: 50%;
    }
  }

  @media screen and (max-width: 768px) {
    top: unset;
    transform: unset;
    bottom: 0;
    left: 0;
    width: 100vw !important;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  @media screen and (max-width: 575px) {
    height: 100%;
  }

  .close {
    position: absolute;
    top: 1rem;
    right: 1.5rem;
    cursor: pointer;
  }

  .modal-head {
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    padding-bottom: 0.75rem;

    @media screen and (max-width: 575px) {
      align-items: flex-start;
    }

    .img {
      margin-right: 1rem;

      img {
        width: 56px;

        @media screen and (max-width: 575px) {
          width: 32px;
        }
      }
    }

    .title {
      font-size: 20px;
      font-weight: 600;

      @media screen and (max-width: 575px) {
        font-size: 18px;
      }
    }

    small {
      color: $color3;
      font-size: 16px;
    }
  }

  &.small-width {
    width: 660px;
    height: unset;
  }
}

////////////////////////////////////////////////////// CUSTOM RANGE SLIDER  ////////////////////////////////////////////////////////

.slidecontainer {
  width: 100%;
  position: relative;

  &::before,
  &::after {
    content: "";
    top: 50%;
    position: absolute;
    height: 10px;
    width: 1px;
    background-color: $color3;
  }

  .slider {
    -webkit-appearance: none;
    width: 100%;
    height: 1px;
    border-radius: 5px;
    background: $color3;
    outline: none;
    opacity: 1;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
  }

  .slider:hover {
    opacity: 1;
  }

  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 23px;
    height: 24px;
    border: 0;
    background: url("../vector/slider-img.svg");
    cursor: pointer;
  }

  .slider::-moz-range-thumb {
    width: 23px;
    height: 24px;
    border: 0;
    background: url("../vector/slider-img.svg");
    cursor: pointer;
  }
}

////////////////////////////////////////////////////// CUSTOM BTNS  ////////////////////////////////////////////////////////

.btn {
  padding: 0.65rem 2rem;
  font-size: 14px;
  flex-grow: 0;

  &.w-100px {
    width: 100px;
  }

  &.btn-bg-light {
    background-image: linear-gradient(to bottom, $color17, #fff);
    color: $color3;
  }
}

.btn-outlined-dark {
  border: 2px solid $color2;
  border-radius: 50px;
  transition: 0.4s ease;

  &:hover {
    color: #fff;
    background-color: $color2;
  }

  &.primary {
    color: $color1;
    border-color: $color1;

    &:hover {
      color: #fff;
      background-color: $color1;
    }
  }
}

.btn-outlined {
  border-radius: 7px;
  border: 1px solid $color2;
  padding: 0.5rem 1rem;

  &.green {
    background-color: $color27;
    color: $color23;
    border-color: $color23;
  }

  &.red {
    background-color: $color29;
    color: $color28;
    border-color: $color28;
  }

  &.yellow {
    background-color: $color21;
    color: $color1;
    border-color: $color1;
  }
}

.btn-bg-primary {
  background-color: $color1;
  border-radius: 50px;
  border: 2px solid transparent;
  transition: 0.4s ease;

  &:hover {
    background-color: transparent;
    border-color: $color1;
  }
}

////////////////////////////////////////////////////// CUSTOM FORM CONTROLS   ////////////////////////////////////////////////////////

.custom-form-control {
  h4 {
    font-size: 14px;
    margin-bottom: 0.75rem;
  }

  &.empty {
    height: 35px;
  }

  a {
    color: $color1;
    text-decoration: underline;
  }

  &.search-sm {
    width: 202px;
    position: relative;

    input {
      font-size: 16px;
      padding: 0.75rem;
      padding: 0.565rem 1rem;

      &::placeholder {
        color: $color3;
      }
    }

    img {
      position: absolute;
      right: 0.75rem;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

input.custom-input {
  width: 100%;
  border-radius: 5px;
  padding: 0.5rem;
  border: 1px solid $color3;
  transition: 0.4s ease;

  &.active,
  &:focus {
    outline: none;
    border-color: $color1;
    box-shadow: 0 0 7px $color20;
  }
}

// ////////////////////////////////////////////////////// CUSTOM RADIO ////////////////////////////////////////////////////////

.custom-radio {
  position: relative;
  display: inline-block;
  padding-left: 1.5rem;
  padding-right: 1.75rem;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  &,
  & * {
    transition: 0.4s ease;
  }

  &:hover {
    input ~ .checkmark {
      background-color: $color9;
    }
  }

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;

    & ~ .checkmark {
      transition: 0.4s ease;

      &::after {
        display: block;
        left: 50%;
        top: 50%;
        opacity: 0;
        transition: 0.4s ease;
      }
    }

    &:checked ~ .checkmark {
      border-color: $color1;

      &::after {
        opacity: 1;
      }
    }
  }

  .checkmark {
    position: absolute;
    top: 50%;
    left: 0;
    height: 16px;
    width: 16px;
    border: 1px solid $color3;
    border-radius: 50%;
    transform: translateY(-50%);

    &::after {
      content: "";
      position: absolute;
      display: none;
      top: 9px;
      left: 9px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: $color1;
      transform: translate(-50%, -50%);
    }
  }
}

// ////////////////////////////////////////////////////// CUSTOM SWITCH ////////////////////////////////////////////////////////

/* The container */
.checkbox-container {
  display: block;
  position: relative;
  margin: 12px 0;
  cursor: pointer;
  font-size: 20px;
  user-select: none;

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;

    &:checked ~ .checkmark {
      background-color: $color1;
      border-color: transparent;

      &::after {
        display: block;
      }
    }
  }

  .checkmark {
    position: absolute;
    top: 50%;
    right: 0;
    height: 16px;
    width: 16px;
    border: 1px solid $color2;
    border-radius: 3px;
    transform: translateY(-50%);

    &::after {
      content: "";
      position: absolute;
      display: none;
      left: 4px;
      top: 0px;
      width: 4px;
      height: 8px;
      border: solid white;
      border-width: 0 2.5px 2.5px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }
}

// ////////////////////////////////////////////////////// CUSTOM SWITCH ////////////////////////////////////////////////////////

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;

  input {
    opacity: 0;
    width: 0;
    height: 0;

    &:checked {
      & + .slider:before {
        transform: translate(13px, 1px);
      }

      & + .slider {
        background-color: $color1;
      }
    }

    &:focus + .slider {
      box-shadow: 0 0 1px $color1;
    }
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 35px;
    height: 20px;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    margin-left: 0.25rem;

    &.round {
      border-radius: 34px;

      &::before {
        border-radius: 50%;
      }
    }

    &:before {
      position: absolute;
      content: "";
      height: 14px;
      width: 14px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      -webkit-transition: 0.4s;
      transition: 0.4s;
    }
  }
}

.radio-container,
.switch-container {
  height: 35px;
  display: flex;
  align-items: center;
}

.switch-container {
  margin-top: 4rem;
}

// ////////////////////////////////////////////////////// CUSTOM SELECT ////////////////////////////////////////////////////////
// select-arrow-active
.custom-select {
  position: relative;
  font-family: Arial;
  width: 100%;

  svg {
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
  }
}

.custom-select select {
  display: none; /*hide original SELECT element:*/
}

.select-selected {
  /*style the arrow inside the select element:*/
  border: 1px solid $color3 !important;
  border-radius: 5px;
  padding: 0.5rem !important;

  &.select-arrow-active {
    border-color: $color1 !important;
  }

  &:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 20px;
    border: solid $color2;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    transition: 0.4s ease;
  }

  /*point the arrow upwards when the select box is open (active):*/
  &.select-arrow-active:after {
    border-color: $color1;
    top: 17px;
    transform: rotate(-135deg);
  }
}

/*style the items (options), including the selected item:*/
.select-items div,
.select-selected {
  padding: 8px 16px;
  border: 1px solid transparent;
  // border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  user-select: none;
}

/*style items (options):*/
.select-items {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0 15px 20px #55555542;
}

/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}

.select-items div {
  transition: 0.4s ease;
}

.select-items div:hover,
.same-as-selected {
  background-color: $color21;
  color: $color1;
}

// //////////////////////////////////////////////////////////// STYLED BOXES ///////////////////////////////////////////////////////////

.details-container {
  display: flex;
  justify-content: space-between;

  .details-item {
    width: 33.33%;
    padding: 0 2.5rem;

    .custom-form-control {
      margin-bottom: 1.5rem;
    }

    .details-box {
      .box-title {
        font-size: 14px;
        color: $color3;
      }

      .box-content {
        position: relative;
        border: 1px solid $color3;
        border-radius: 3px;
        margin-top: 1.5rem;
        margin-bottom: 2rem;

        .box-subtitle {
          position: absolute;
          top: -15px;
          left: -2px;
          display: inline-block;
          font-weight: 700;
          padding: 0.425rem 0.75rem;
          padding-right: 1rem;
          border-top-right-radius: 25px;
          border-bottom-right-radius: 25px;
          background-color: $color17;
          color: $color3;
        }

        .box-text {
          padding: 2rem 1.5rem 1rem;
        }

        .edit {
          position: absolute;
          right: 0.75rem;
          bottom: 0.5rem;
        }
      }

      &.primary {
        .box-title {
          color: $color1;
        }

        .box-content {
          background-color: $color21;
          border-color: $color1;

          .box-subtitle {
            background-color: $color1;
            color: $color2;
          }
        }
      }

      &.green {
        .box-title {
          color: $color23;
        }

        .box-content {
          border-color: $color23;
          background-color: $color24;

          .box-subtitle {
            background-color: $color23;
            color: #fff;
          }
        }
      }
    }
  }
}

// //////////////////////////////////////////////////////////// SIDENAV ///////////////////////////////////////////////////////////

#sidenav-container {
  display: flex;

  & > * {
    padding-top: 4rem;
  }

  #sidenav {
    height: 100vh;
    width: 20%;
    background-color: $color26;

    .logo {
      display: block;
      padding-top: 0.75rem;
      text-align: center;
    }

    .nav-item {
      display: flex;
      align-items: center;
      padding: 1rem 0;
      padding-left: 5rem;
      transition: 0.4s ease;

      * {
        transition: 0.4s ease;
      }

      &.help {
        margin-top: 5rem;
      }

      &.active,
      &:hover {
        background-color: $color21;

        * {
          color: $color1;
        }

        svg {
          path,
          line,
          circle {
            stroke: $color1;
          }
        }
      }

      &.back {
        margin: 5rem 0;
      }

      svg {
        margin-right: 1rem;
      }
    }
  }

  #sidenav-right-content {
    width: 80%;

    section {
      max-width: 1276px;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

/* Dropdown Button */
.dropbtn {
  border: none;
  cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.custom-dropdown {
  position: relative;
  display: inline-block;

  &.show {
    display: block;

    .dropdown-content {
      display: block;
    }
  }
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  right: -3rem;
  top: 3rem;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 0px 25px $color3;
  border-radius: 10px;
  z-index: 1;
  width: 384px;

  .head {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: $color21;
    border: 1px solid $color1;
    padding: 1rem 2rem;

    .text {
      margin-left: 2rem;
    }
  }

  .body {
    margin: 2rem 0;

    .nav-item {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding: 1rem 3.5rem;

      svg {
        margin-right: 1.25rem;
      }

      &.active,
      &:hover {
        background-color: $color21;

        * {
          color: $color1;
        }

        svg {
          path,
          line,
          circle {
            stroke: $color1;
          }
        }
      }
    }
  }
}
